<form ng-submit="sendMessage()">
    <div class="input-group">
        <input id="btn-input"
               type="text"
               class="form-control input-sm"
               ng-model="message.body"
               ng-model-options="{debounce: 1000}"
               placeholder="Type your message here..."/>
        <span class="input-group-btn">

            <button class="btn btn-warning btn-sm" id="btn-chat">
                <fa name="paper-plane-o"
                    alt="TEXT-ALTERNATIVE"
                    size="1-5|large"
                    flip="horizontal|vertical"
                    border
                    list
                ></fa>

            </button>
         </span>
    </div> <!-- end chat-message -->
</form>