<!DOCTYPE html>
<html ng-app="ngBoilerplate" ng-controller="AppCtrl">
<head>
    <title ng-bind="pageTitle"></title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8 ">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- font awesome from BootstrapCDN -->
    <!--<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700' rel='stylesheet' type='text/css'>


    <script src="https://platform.twitter.com/widgets.js"></script>

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>"/>
    <% }); %>


    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>

</head>
<body>

<div id="toast-container"></div>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-1">
            <ng-include src="'templates/logo.tpl.html'"></ng-include>
        </div>
        <div class="col-md-11">
            <div ui-view="main"></div>
        </div>
    </div>
</div>


<ng-include src="'templates/im.tpl.html'"></ng-include>

</body>
</html>
