
<div class="message-data"  ng-class="{'align-right' : chat.from.bare!==localUser}">
    <span class="message-data-name" ng-if="chat.from.bare!==localUser"><i class="fa fa-circle online"></i> {{chat.from.local}}</span>
    <span class="message-data-name" ng-if="chat.from.bare===localUser"><i class="fa fa-circle online"></i> Me</span>
    <span class="message-data-time" ng-if="!chat.time"></span> &nbsp; &nbsp;
    <span class="message-data-time" ng-if="chat.time"
          am-time-ago="chat.time  | amDateFormat:'MM.DD.YYYY HH:mm:ss'"></span>
    &nbsp;
</div>
<div class="message my-message" ng-cloak>
    <ng-embed embed-data="chat.body"
              embed-options="embedOptions"
              embed-template-url="im.tpl.html"
    ></ng-embed>
</div>