<script type="text/ng-template" id="im.tpl.html">
    <div class="chat-content" ng-bind-html="neText" ng-if="!image.url"></div>
    <div class="ne-video" ng-if="video.host" class="fade">
        <div class="ne-video-preview" ng-hide="nePlayVideo || !options.video.details">
            <div class="ne-video-thumb" ng-click="nePlayVideo=!nePlayVideo"><img ng-src="{{video.thumbnail}}" alt=""/>
                <i
                        class="fa fa-play-circle-o"></i></div>
            <div class="ne-video-detail">
                <div class="ne-video-title"><a ng-href="{{video.url}}">{{video.title}}</a></div>
                <div class="ne-video-desc"> {{video.description}}</div>
                <div class="ne-video-stats"><span><i class="fa fa-eye"></i> {{video.views}}</span> <span><i
                        class="fa fa-heart"></i> {{video.likes}}</span></div>
            </div>
        </div>
        <div class="ne-video-player" ng-if="nePlayVideo || !(options.video.details)">
            <iframe ng-src="{{video.embedSrc}}" frameBorder="0" width="{{video.width}}" height="{{video.height}}"
                    webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </div>
    <div class="ne-video" ng-if="video.basic">
        <div class="ne-video-player">
            <div class="player">
                <video ng-src="{{video.basic}}" controls></video>
            </div>
        </div>
    </div>
    <div ng-init="neImageLong=false" ng-class="{false:\'ne-image\', true:\'ne-image ne-image-long\'}[neImageLong]"
         ng-if="image.url">
        <div class="ne-image-wrapper"><img spinkit-image-preloader='cube-grid-spinner' spinkit-image-preloader-class='rotating-plane-spinner' class="img-size img-responsive" ng-src="{{image.url}}" ng-click="neImageLong=!neImageLong"
                                           alt=""/></div>
    </div>
    <div class="ne-pdf" ng-if="pdf.url">
        <div class="ne-pdf-preview" ng-hide="neShowPdf">
            <div class="ne-pdf-icon"><i class="fa fa-file-pdf-o"></i></div>
            <div class="ne-pdf-detail">
                <div class="ne-pdf-title"><a href="">{{pdf.url}}</a></div>
                <div class="ne-pdf-view">
                    <button><i class="fa fa-download"></i> <a ng-href="{{pdf.url}}" target="_blank">Download</a>
                    </button>
                    <button ng-click="neShowPdf=!neShowPdf"><i class="fa fa-eye"></i> View PDF</button>
                </div>
            </div>
        </div>
        <div class="ne-pdf-viewer" ng-if="neShowPdf" ng-show="neShowPdf">
            <iframe ng-src="{{pdf.url}}" frameBorder="0"></iframe>
        </div>
    </div>
    <div class="ne-audio" ng-if="audio.url">
        <audio ng-src="{{audio.url}}" controls></audio>
    </div>
    <div ng-if="tweets" ng-repeat="tweet in tweets">
        <div ng-bind-html="tweet"></div>
    </div>
    <div ng-if="videoServices" class="ne-video" ng-repeat="v in videoServices">
        <div class="ne-video-player">
            <div class="player">
                <div ng-bind-html="v"></div>
            </div>
        </div>
    </div>
    <div ng-if="audioServices" class="ne-audio" ng-repeat="a in audioServices">
        <div ng-bind-html="a"></div>
    </div>
    <div ng-if="codeServices" class="ne-embed" ng-repeat="c in codeServices">
        <div ng-bind-html="c"></div>
    </div>
    <div ng-if="gist" class="ne-gist" ng-repeat="g in gist">
        <ne-gist id="{{g}}"></ne-gist>
    </div>
</script>