<div class="container">
    <form class="form-horizontal" ng-submit="login()" ng-if="!userState.logged">
        <fieldset>
            <legend>Account demo:</legend>
            <div class="form-group">
                <pre>
                    nasterblue@{{virtualHost}}/password
                    bss1@{{virtualHost}}/password
                    bss2@{{virtualHost}}/password
                    bss3@{{virtualHost}}/password
                    bss4@{{virtualHost}}/password
                    bss5@{{virtualHost}}/password
                    bss6@{{virtualHost}}/password
                    bss7@{{virtualHost}}/password
                    bss8@{{virtualHost}}/password
                    bss9@{{virtualHost}}/password
                </pre>

            </div>


        </fieldset>

        <fieldset>
            <legend>Login:</legend>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Username</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputEmail3" ng-model="user.jid" placeholder="Username">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword3" ng-model="user.password"
                           placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Sign in</button>
                </div>
            </div>

        </fieldset>
    </form>
</div>