<div class="row">
    <div class="col-xs-12">
        <img style="cursor: pointer;" ui-sref="home" id="logo" src="assets/images/logo.png"/>
    </div>
    <div class="col-xs-12">
        <button style="width: 100%; max-width: 100px;" ng-if="userState && userState.logged" class="btn btn-danger btn-sm"
                ng-click="logout()">Logout
        </button>
    </div>
</div>