// Color variables (appears count calculates by raw css)
@color0: #94c2ed; // Appears 4 times
@color1: #86bb71; // Appears 3 times
@color2: #f2f5f8; // Appears 2 times
@color3: #92959e; // Appears 2 times

// Width variables (appears count calculates by raw css)
@width4: 55px; // Appears 2 times
@width5: 90%; // Appears 2 times

// Height variables (appears count calculates by raw css)
@height-friends: ~"calc(100vh - 200px)"; // Appears 2 times
@height-friends: ~"-moz-calc(100vh - 200px)"; // Appears 2 times
@height-friends: ~"-webkit-calc(100vh - 200px)"; // Appears 2 times

@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*, *:before, *:after {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  //background: #C5DDEB;
  //color: white;
  //font: 14px/20px "Lato", Arial, sans-serif;
  //padding: 40px 0;
}

.container, .container-fluid {
  background: #444753;
  border-radius: 5px;
  margin: 0 auto;
}

.people-list {
  width: 100%;
  color: white;
  float: left;
  .search {
    padding: 20px;
  }
  input {
    background: #6A6C75;
    border-radius: 3px;
    border: none;
    color: white;
    font-size: 14px;
    padding: 14px;
    width: @width5;
  }
  .fa-search {
    left: -25px;
    position: relative;
  }
  ul {
    height: @height-friends;
    overflow-y: scroll;
    padding: 20px 5px;
    li {
      padding-bottom: 20px;
      z-index: 999999;
    }
  }
  img {
    float: left;
    width: @width4;
  }
  .about {
    float: left;
    margin-top: 8px;
    padding-left: 8px;
  }
  .status {
    color: @color3;
  }
}

.chat {
  background: @color2;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  color: #434651;
  .chat-header {
    border-bottom: 2px solid white;
    padding: 20px;
    img {
      float: left;
      width: @width4;
    }
    .chat-about {
      float: left;
      margin-top: 6px;
      padding-left: 10px;
    }
    .chat-with {
      font-size: 16px;
      font-weight: bold;
    }
    .chat-num-messages {
      color: @color3;
    }
    .fa-star {
      color: #D8DADF;
      float: right;
      font-size: 20px;
      margin-top: 12px;
    }
  }
  .chat-history {
    border-bottom: 2px solid white;
    height: @height-friends;
    overflow: auto;
    overflow-x: hidden;
    padding: 30px 30px 20px;
    #bottom {
      height: 100px;
      display: block;
      img {
        vertical-align: middle;
        height: 100px;
      }
    }
    .message-data {
      margin-bottom: 15px;
    }
    .message-data-time {
      color: #a8aab1;
      padding-left: 6px;
    }
    .message {
      border-radius: 7px;
      color: white;
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 30px;
      padding: 18px 20px;
      position: relative;
      width: @width5;
      &:after {
        border-bottom-color: @color1;
        border-width: 10px;
        border: solid transparent;
        bottom: 100%;
        content: " ";
        left: 7%;
        margin-left: -10px;
        pointer-events: none;
        position: absolute;
        width: 0;
      }
    }
    .my-message {
      background: @color1;
    }
    .other-message {
      background: @color0;
      &:after {
        border-bottom-color: @color0;
        left: 93%;
      }
    }
  }
  .chat-message {
    padding: 30px;
    textarea {
      border-radius: 5px;
      border: none;
      font: 14px/22px "Lato", Arial, sans-serif;
      margin-bottom: 10px;
      padding: 10px 20px;
      resize: none;
      width: 100%;
    }
    .fa-file-o {
      color: gray;
      cursor: pointer;
      font-size: 16px;
    }
    .fa-file-image-o {
      color: gray;
      cursor: pointer;
      font-size: 16px;
    }
    button {
      background: @color2;
      border: none;
      color: @color0;
      cursor: pointer;
      float: right;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      &:hover {
        color: #75b1e8;
      }
    }
  }
}

.online {
  color: @color1;
  font-size: 10px;
  margin-right: 3px;
}

.offline {
  color: #E38968;
  font-size: 10px;
  margin-right: 3px;
}

.me {
  color: @color0;
  font-size: 10px;
  margin-right: 3px;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix {
  &:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    visibility: hidden;
  }
}

.chat-content a {
  word-wrap: initial;
}

.header-container {
  .search {
    padding-top: 20px;
  }
  input {
    background: #6A6C75;
    border-radius: 3px;
    border: none;
    color: white;
    font-size: 14px;
    padding: 14px;
    width: @width5;
  }
  .fa-search {
    left: -25px;
    position: relative;
  }
}